
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" routerLink="/githubfinder"><b>GITHUB FINDER</b></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  <div class="navbar-nav">
		<a class="nav-item nav-link active" routerLink="profile" routerLinkActive='active'>Home<span class="sr-only">(current)</span></a>
		<br>
		<a class="nav-item nav-link" routerLink="/search" routerLinkActive='active'>Search for your Github account</a>
	  </div>
	</div>
  </nav>