<div class="container">

<br>
<div class="container">
  <h3>Sample Github Account Display</h3>
  <div class="row">
  <img src="../../assets/FB_IMG_1629981695956.jpg" height="250" width="250" alt="">
        <!-- <img [src]="assers" class="card-img-top" alt="My profile picture"> -->
        <div class="card-body text-center">
              <ul class="list-group list-group-">
                <li class="list-group-item">UserName: IsaacMurage-dev</li>
                <li class="list-group-item">Address: Nairobi,Kenya</li>
                <li class="list-group-item"> (8)Followers,following(8):</li>
                <li class="list-group-item"> (9)Public repos: <span class="badge rounded-pill bg-warning text-dark"></span></li>
              </ul>
            </div>


